{{>nav}}
<div class="products-pageContainer">
<h1>Bienvenido {{user}}</h1>
<h2>Productos</h2>
<div class="products-bigContainer">

{{#if products.length}}
{{#each products}}
<div class="product-container">
    <div class="product-header">
<h3>{{title}}</h3>
<p>{{description}}</p>
    </div>
<h4>Categoría: {{category}}</h4>
<h4>$ {{price}}</h4>
<h5>Cantidad en stock: {{stock}}</h5>

<button id={{_id}} >Agregar al carrito</button>


</div>
{{/each}}

{{else}}
<h2>NO HAY PRODUCTOS</h2>
{{/if}}
</div>

</div>
